*.code-workspace
*.mp4
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jld2
*.mat
*.parquet
*.json
*.pickle
.nfs*
.CondaPkg/
WRExperiment/.CondaPkg
.vscode
/docs/Manifest.toml
/docs/build/
Artifacts.toml
data*/
docsb/build/
docs/site/
/plots*/
WRCircuit/plots/
WRExperiment/plots/
WRTheory/plots/
__pycache__/
logs/
cache/
tempfig.png
test/
scripts/calculations/float32_conversion.jl
data/old/
old_data/
old_plots/
Manifest copy.toml
.claude
*.pdf