[submodule "WRExperiment.jl"]
	path = WRExperiment.jl
	url = https://github.com/brendanjohnharris/WRExperiment.jl
[submodule "WRCircuit.jl"]
	path = WRCircuit.jl
	url = https://github.com/brendanjohnharris/WRCircuit.jl
