*.code-workspace
*.mp4
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jld2
*.mat
*.parquet
.CondaPkg/
.vscode
/docs/Manifest.toml
/docs/build/
Artifacts.toml
LocalPreferences.toml
data*/
docsb/build/
docs/site/
/plots*/
logs/
cache/
tempfig.png
test/
scripts/calculations/float32_conversion.jl
data/old/
old_data/
old_plots/
Manifest copy.toml
