*.code-workspace
*.csv
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jld2
*.mat
*.mp4
*.png
*.pdf
*.svg
*.parquet
.CondaPkg/
.CondaPkg copy/
.vscode
/docs/Manifest.toml
/docs/build/
Artifacts.toml
LocalPreferences.toml
data
docs/build/
docs/site/
lcov*.info
__pycache__/
*.json
*.pickle
.nfs*
.CondaPkgOld/
plots/